// - - - - - - - - - - - - - - - - - -

// Single project

// - - - - - - - - - - - - - - - - - -

.project_container {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.project_title {
  margin-bottom: 5rem;
  font-family: "Berkeley Mono";
  font-size: 2.652rem;
  line-height: 2.5rem;
  overflow-wrap: break-word;
}

.page-project {
  @extend .page-post;

  .post__subtitle {
    margin-bottom: 48px;
    max-width: 556px;
  }

  .post__content {
    overflow: hidden;
    
    hr {
      background-color: var(--accent);
    }

    blockquote {
      border-left-color: var(--accent);
    }

    table:not(.rouge-table) {
      border: 2px solid var(--accent);

      thead {
        background: var(--accent);
      }
    }

    .gallery--carousel .owl-dot.active::after {
      background: var(--accent);
    }
  }

  @include mq(tabletp) {
    .post__subtitle {
      margin-bottom: 80px;
    }
  }
}

.recent_work {
  font-family: "Tronica Mono";
  font-size: 0.85rem;
  margin-left: 5%;
  margin-right: 5%;
}

.project_heading {
  margin-left: 5%;
  margin-right: 5%;
  font-family: "Rubik"
}

.project_item {
    @extend .project_heading;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    gap: 4vw;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    margin-top: 3vh;
}

.project_item_number {
  font-family: "Tronica Mono";
  letter-spacing: 0em;
  font-size: 0.817rem;
  font-weight: 100;
  width: 25px;
  height: 25px;
  padding: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;

  @media only screen and (max-width: 425px) {
    font-size: 0.6em;
  }
} 

.project_description {
   flex-flow: column; 
   display: flex; 
   align-items: baseline; 
   flex-direction: column; 
   flex-wrap: nowrap; 
   align-content: space-between; 
   justify-content: space-around; 
  margin-bottom: 10px;
}

.project_font {
  margin-bottom: 1rem;
  font-family: "Founders Grotesk Light";
  font-size: 1.641rem;
  font-weight: 300;
  @media only screen and (max-width: 425px) {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: -.04rem;
  }
}

.project_subtitle {
  font-size: 0.825rem;
  @media only screen and (max-width: 425px) {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
    letter-spacing: -.04rem;
  }
}

.technologies {
  font-family: London Underground;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: normal;
  animation: floatText 25s infinite linear;
  padding-left: 150%;
  display: inline-block;
  white-space: nowrap;
  color: #ec5d29;
  margin-top: 1rem;
  @media only screen and (max-width: 425px) { 
    font-size: 2rem;
  }
}

@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}

img.post__image_rounded {
  border-radius: 25px;
}

.image_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 5rem;

  @media only screen and (max-width: 425px) { 
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
  }

  img {
    width: 100%;
    height: 100%;
  }
}


