// - - - - - - - - - - - - - - - - - -

// Single project

// - - - - - - - - - - - - - - - - - -

.page-project {
  @extend .page-post;

  .post__subtitle {
    margin-bottom: 48px;
    max-width: 556px;
  }

  .post__content {
    overflow: hidden;
    
    hr {
      background-color: var(--accent);
    }

    blockquote {
      border-left-color: var(--accent);
    }

    table:not(.rouge-table) {
      border: 2px solid var(--accent);

      thead {
        background: var(--accent);
      }
    }

    .gallery--carousel .owl-dot.active::after {
      background: var(--accent);
    }
  }

  @include mq(tabletp) {
    .post__subtitle {
      margin-bottom: 80px;
    }
  }
}

.project_heading{
  margin-left: 5%;
  margin-right: 5%;
}

.project_item {
    @extend .project_heading;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    gap: 4vw;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    margin-top: 3vh;
}

.project_item_number {
  font-family: Test Founders Grotesk light, sans-serif;
  letter-spacing: 0em;
  font-size: 1.117em;
  font-weight: 100;

  @media only screen and (max-width: 425px) {
    font-size: 0.6em;
  }
} 

.project_description {
   flex-flow: column; 
   display: flex; 
   align-items: baseline; 
   flex-direction: column; 
   flex-wrap: nowrap; 
   align-content: space-between; 
   justify-content: space-around; 
  margin-bottom: 10px;
}

.project_font {
  font-size: 2.46em;
  @media only screen and (max-width: 425px) {
    font-size: 1.4em;
  }
}

.technologies {
  font-family: VT323;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: normal;
  animation: floatText 25s infinite linear;
  padding-left: 150%;
  display: inline-block;
  white-space: nowrap;
}

@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}

img.post__image_rounded {
  border-radius: 25px;
}

