// - - - - - - - - - - - - - - - - - -

// Section - About

// - - - - - - - - - - - - - - - - - -

.body-about {
  font-size: 1em;
  line-height: 1em;
  
}

.hr__text {
  margin-bottom: 20px;
}

.banner {
  padding-right: 30px;
  text-align: left;
}

.about {
  margin-bottom: 100px;

  .about__image {
    width: 100vh;
    margin: 0 0 40px 0;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-bottom: 24px;
      z-index: -1;
      position: relative;
    }
  }

  .title {
    margin-bottom: 16px;
  }

  .about__content {
    max-width: 456px;

    .title {
      margin-bottom: 16px;
    }

    .subtitle {
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 16px;
    }

    .span-subheading {
      white-space: pre;
    }

    .cta {
      margin: 8px 0 0 -4px;
    }
	}
	

  @include mq(tabletp) {
    margin-bottom: 160px;
    
		
    .wrap {
      grid-template-columns: 1fr 1fr;
    }

    .about__image {
      width: 100vh;
      margin-left: 0;
		}
		
		.about__content {
			margin-top: 64px;

			.subtitle {
				margin-bottom: 24px;
			}
		}
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Social Icons

.socials {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials__item {
  margin-left: 24px;

  &:first-child {
    margin-left: 0;
  }
}

.socials__item__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: $text-dark-color;
  font-size: 16px;
  color: $background-color;

  &:hover {
    background: $accent-color;
    color: $background-color;
  }

  &:active {
    transform: scale(0.92);
  }
}

.socials__item__link__project {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $text-dark-color;
  color: $background-color;

  &:hover {
    background: $accent-color;
    color: $background-color;
  }

  &:active {
    transform: scale(0.92);
  }
}

.typed-font {
  font-family: manin;
}

.me__image {
  max-width: 25vw;
}

.section_about {
  padding-bottom: 150px;
}