// - - - - - - - - - - - - - - - - - -

// Structure

// - - - - - - - - - - - - - - - - - -

.section_title {
  height: 100vh;
}

.page,
.page__content {
	width: 100%;
}

.wrap {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1200px;
  width: 100%;
}

.wrap__blog {
  @extend .wrap;
  width: 75ch;
  @media only screen and (max-width: 425px) {
    width: 100%;
  }
}

.title {
  display: flex;
  flex-flow: column;
  row-gap: 2vh;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1vh;

  &__socials {
  @extend .title;
  align-items: center;
  }

  p {
    font-size: 1em;
  }
  
}

.grid {
	display: grid;
	grid-gap: 30px;

	&__2-col {
    @extend .grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5vw;
  }

  &__3-col {
    @extend .grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @include mq(tabletp) {
    grid-gap: 30px;
  }
}

.locked {
  overflow: hidden;
}

